.app-contact {
    position: absolute;

    top: 16px;
    left: 16px;

    &:not(.active) {
        display: none;
    }

    border-radius: 10px;

    display: flex;
    flex-direction: column;

    border: 1px solid #929292;

    width: fit-content;
    overflow: hidden;


    &-header {
        position: absolute;

        width: 250px;

        padding: 7px 7px;
        display: flex;
        align-items: center;

        height: 26px;


        &-name {
            display: none;
        }
    }

    &-body {
        max-height: none;
    }
}
